button {
  background-color: rgb(250, 249, 251);
  background-image: url(/img/filter.png);
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  background-position: left 1rem center;
  border-radius: 2rem;
  border: none;
  color: rgb(194, 189, 216);
  height: 10vh;
  padding: 1rem;
  padding-left: 3rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(233, 55, 84);
  background-image: url(/img/filter-white.png);
  color: rgb(255, 255, 255);
}
