.recipe-box {
  width: 25%;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  border: 0.125rem solid rgb(233, 55, 84);
  color: rgb(233, 55, 84);
}

.recipe-img {
  width: 100%;
  background-size: cover;
  border-radius: 0.5rem;
}

.recipeBtn {
  background-color: rgb(233, 55, 84);
  border: 0.125rem solid transparent;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 1rem;
}

.recipeBtn:hover {
  background-color: rgb(255, 255, 255);
  border: 0.125rem solid rgb(233, 55, 84);
  color: rgb(233, 55, 84);
}

@media (max-width: 40rem) {
  .recipe-box {
    width: auto;
  }
}
