.search-field {
  background-color: rgb(250, 249, 251);
  background-image: url(/img/search.png);
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  background-position: left 1rem center;
  border-radius: 2rem;
  border: none;
  width: 50%;
  height: 10vh;
  padding: 1rem;
  padding-left: 4rem;
}

input::placeholder {
  color: rgb(194, 189, 216);
}
input:focus {
  outline-color: rgb(233, 55, 84);
}
